<nav>
    <div class="h-16 px-11 drop-shadow bg-white flex gap-x-2 navbar-container font-inter justify-between">
        <div class="flex items-center shrink-0 navbar__logo-wrapper">
            <a href="/"><img class="w-20" src="/assets/favico.svg" alt="Cilikly logo"></a>
        </div>
        <div class="flex w-auto p-5 navbar__search-wrapper h-full items-center">
            <div class="search-form-wrapper rounded-full border-2 pl-3 pr-1 group-focus:border-blue-500">
                <form action="">
                    <input type="text" class="w-60 h-9 text-sm focus:outline-none">
                    <button type="submit" class="w-8 h-8 rounded-full hover:bg-slate-300"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>

        <div class="flex gap-3 items-center w-80 user-account-container">
            <div class="create-link-container w-32 h-12">
                <div class="create-link-wrapper py-3 px-1 text-center bg-sky-600 text-white rounded-xl">Create Link</div>
            </div>

            <div class="account-wrapper bg-slate-100 w-auto h-12 rounded-xl flex items-center px-2 gap-2">
                <i class="ml-1 fa-regular fa-user"></i>
                <p>Alit Darma Putra</p>
            </div>
        </div>
    </div>
</nav>