<nav>
    <div class="h-16 px-11 drop-shadow bg-white flex gap-x-2 navbar-container font-inter">
        <div class="flex items-center shrink-0 navbar__logo-wrapper">
            <a href="/"><img class="w-20" src="/assets/favico.svg" alt="Cilikly logo"></a>
        </div>
        <div class="flex navbar__menu-wrapper">
            <div class="flex items-center gap-x-1">
                <a href="/" class="px-3 py-1 font-semibold rounded-md hover:bg-slate-100">How to use</a>
                <a href="/" class="px-3 py-1 font-semibold rounded-md hover:bg-slate-100">About</a>
                <a href="/" class="px-3 py-1 font-semibold rounded-md hover:bg-slate-100">Contact</a>
            </div>
        </div>

        <div class="flex flex-1 gap-3 flex-row-reverse items-center auth-wrapper">
            <a class="px-3 py-1 bold rounded border-2 hover:bg-slate-100" href="/auth/signup">Signup</a>
            <a class="px-3 py-1 bold rounded hover:bg-sky-300" href="/auth/login">Login</a>
        </div>
    </div>
</nav>