<!DOCTYPE html>
<html lang="en">
<%-include("layouts/header");-%>
<body>
    <%-include("layouts/navbar");-%>

    <section>
        <div class="mt-28 hero-container font-inter flex flex-wrap justify-around">
            <div class="left-content">
                <h1 class="font-extrabold text-5xl text-slate-800 mb-10">Keep Your Link<br>Simpel and Elegant</h1>
                <p class="mb-9 text-xl">A free tools that help you short your URL.</p>
                <a href="" class="py-3 px-6 bg-sky-400 rounded-xl text-white hover:bg-sky-700">Get Started</a>
            </div>
            <img class="h-80" src="assets/hero_bg.svg" alt="">
        </div>
    </section>
</body>
</html>