<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link href="css/style.css" rel="stylesheet">
    <title>Cilikly - Keep your link simpel</title>
</head>
<body>
    <%-include("layouts/navbar");-%>

    <section>
        <div class="text-center mt-20 hero-container px-56">
            <h1 class="text-9xl font-bold text-slate-800 mb-10 ">Keep Your Link Simpel</h1>
            <p class="mb-9 text-xl">A URL shortener built with powerful tools to help you grow and protect your brand.</p>
            <a href="" class="py-3 px-6 bg-sky-400 rounded-xl text-white hover:bg-sky-700">Get Started</a>
        </div>
    </section>
</body>
</html>